;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies [[cljs-http "0.1.46"]]


 :builds
 {:app {:target :node-script
        :output-to "target/main.js"
        :main cube-bot.core/-main
        :devtools {:after-load cube-bot.core/reload!}}
  :test {:target :node-test
         :output-to "target/test/test.js"
         :autorun true}}}
